.alert-title {
    background-color:#8b005dc8;
    color: #fff;
    padding: 0.1rem 2rem;
    border-radius: 12px 12px 0 0 ;
}

.alert-text {
    padding: 0 2rem 2rem 2rem ;
}

.alert-div_btn {
    display: flex;
}

.alert-card {
    display: block;
    width: 34rem;
    
}