.alert-container {
    position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(194, 0, 49, 0.066);
  backdrop-filter: blur(10px);
}

.alert-title {
    background-color:#8b005dc8;
    color: #fff;
    padding: 0.1rem 2rem;
    border-radius: 12px 12px 0 0 ;
}

.alert-text {
    padding: 0 2rem 2rem 2rem ;
}

.alert-div__btn {
    display: flex;
}

.alert-card {
    display: block;
    width: 38rem;
    background-color: #f7f7f7;
    
    position: absolute;
    top: 20%;
    left: 45%;
    transform: translate(-50%, -50%);
    z-index: 100;
    
}

