input {
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    margin-bottom: 1rem;
    width: 30rem;
}

label {
    font-weight: bold;
    margin: 0.5rem ;
    display: block;
}

.user-form {
    padding: 2rem;
}

.user-form__div {
    display: flex;
}
