input {
    font: inherit;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    border: 1px solid #ccc;
    margin-bottom: 1rem;
    width: 30rem;
}

label {
    font-weight: bold;
    margin: 0.5rem ;
    display: block;
}

.user-form {
    padding: 2rem;
    
}

.user-form__div {
    display: flex;
}

.user-form__card {
    position: relative;
      top: 50%;
      left: 45%;
      transform: translate(-50%, -20%);
  }
  
